# Self-ignore
.prettierignore

# Generated or imported files
change/*.json
CHANGELOG.*
LICENSE
SECURITY.md
*.snap
yarn.lock

# These are test fixtures
yarn.js
fakeNpm.cmd

# These lines from .gitignore can be removed after prettier 3 update
node_modules
src/**/*.js
dist
lib
*.log
.DS_Store
*.pdf
coverage
.idea/
**/.docusaurus/
profile*.json